In [1]:
import pandas as pd

In [11]:
# importar cvs
eCRC = pd.read_csv('output/emisor_CRC.csv')
eHam = pd.read_csv('output/emisor_Ham.csv')
rCRC = pd.read_csv('output/receptor_CRC.csv')
rHam = pd.read_csv('output/receptor_Ham.csv')

In [12]:
eCRC

,id,trama_og,codified,modified,w_noise
0,0,'00001111011','000011110111110001001101000010011001001100','000011110111110001001101000010011001001100','0'
1,1,'001111100111000','0011111001110001000001010100101100010001000100','0011111001110001000001010100101100010001000100','0'
2,2,'10001101101000','100011011010001101001000011000110001001010100','1000110110100011010010000101000110001001010100','1'
3,3,'101010010101100','1010100101011000111010001111010000101111011000','1010100101011000111010001111010000101111011000','0'
4,4,'1000111111101','10001111111011110100110000010100010001100010','100011111110111101001100000010100010001100010','1'
...,...,...,...,...,...
495,495,'000010011011111','0000100110111110111000110011000110111101110000','0000100110111110111000110011000110111101110000','0'
496,496,'110110110011011010','110110110011011010110100011110101010001000110...,'110110110011011010101010001111010101000100011...,'1'
497,497,'11110011111110111100','111100111111101111000101001111011010001110100...,'111100111111101111000101001111011010001110100...,'0'
498,498,'00010101010','000101010100011001010101011100110101000100','000101010100011001010101011100110101000100','0'
499,499,'000001010111','0000010101111100110100000001111101110010110','0000010101111100110100000001111101110010110','0'

In [13]:
eHam

,id,trama_og,codified,modified,w_noise
0,0,'00001111011','101010111110000;1001;00001111011','101010111110000;1001;00001111011','0'
1,1,'001111100111000','11000011110011101100;11010;001111100111000','11000011110011101100;11010;001111100111000','0'
2,2,'10001101101000','0101001001101101001;01101;10001101101000','0101001001101101001;01101;10001101101000','0'
3,3,'101010010101100','01010111010100100101;01110;101010010101100','01010111010100100101;01110;101010010101100','0'
4,4,'1000111111101','101001111111100101;10011;1000111111101','101001111111100101;10011;1000111111101','0'
...,...,...,...,...,...
495,495,'000010011011111','01111110101100100000;01100;000010011011111','01111110101100100000;01100;000010011011111','0'
496,496,'110110110011011010','00011010101100111011011;00101;110110110011011...,'00011010101100111011011;00101;110110110011011...,'0'
497,497,'11110011111110111100','0100011011011111111001111;01001;1111001111111...,'0100011011011111111001111;01001;1111001111111...,'0'
498,498,'00010101010','000110100101000;0010;00010101010','000110100101000;0010;00010101010','0'
499,499,'000001010111','01101100101000000;01000;000001010111','01101100101000000;01000;000001010111','0'

In [14]:
rCRC

,id,alg_received,err,res
0,0,'000011110111110001001101000010011001001100','0','00000000000000000000000000000000'
1,1,'0011111001110001000001010100101100010001000100','0','00000000000000000000000000000000'
2,2,'1000110110100011010010000101000110001001010100','1','00000000000011001010011011111100'
3,3,'1010100101011000111010001111010000101111011000','0','00000000000000000000000000000000'
4,4,'100011111110111101001100000010100010001100010','1','00000000000000111100110010100110'
...,...,...,...,...
495,495,'0000100110111110111000110011000110111101110000','0','00000000000000000000000000000000'
496,496,'110110110011011010101010001111010101000100011...,'1','01111001000111111100110010101100'
497,497,'111100111111101111000101001111011010001110100...,'0','00000000000000000000000000000000'
498,498,'000101010100011001010101011100110101000100','0','00000000000000000000000000000000'
499,499,'0000010101111100110100000001111101110010110','0','00000000000000000000000000000000'

In [15]:
rHam

,id,alg_received,bits,reqs,orig,corr,res
0,0,'101010111110000;1001;00001111011','101010111110000','1001','00001111011','1000','Hubo un error en el bit 1'
1,1,'11000011110011101100;11010;001111100111000','11000011110011101100','11010','001111100111000','11110','Hubo un error en el bit 3'
2,2,'0101001001101101001;01101;10001101101000','0101001001101101001','01101','10001101101000','01101','Hubo un error en el bit 6'
3,3,'01010111010100100101;01110;101010010101100','01010111010100100101','01110','101010010101100','11110','Hubo un error en el bit 5'
4,4,'101001111111100101;10011;1000111111101','101001111111100101','10011','1000111111101','10011','Hubo un error en el bit 6'
...,...,...,...,...,...,...,...
495,495,'01111110101100100000;01100;000010011011111','01111110101100100000','01100','000010011011111','01100','Hubo un error en el bit 7'
496,496,'00011010101100111011011;00101;110110110011011...,'00011010101100111011011','00101','110110110011011010','00111','Hubo un error en el bit 2'
497,497,'0100011011011111111001111;01001;1111001111111...,'0100011011011111111001111','01001','11110011111110111100','11001','Hubo un error en el bit 5'
498,498,'000110100101000;0010;00010101010','000110100101000','0010','00010101010','0000','Hubo un error en el bit 2'
499,499,'01101100101000000;01000;000001010111','01101100101000000','01000','000001010111','00000','Hubo un error en el bit 4'

## CRC-32

In [23]:
ceros_eCRC = eCRC["w_noise"].value_counts()
ceros_rCRC = rCRC["err"].value_counts()
print("Cantidad de cadenas correcta(0) y modificadas(1) enviadas")
print(ceros_eCRC)
print("Cantidad de cadenas correcta(0) y modificadas(1) recibidas")
print(ceros_rCRC)

Cantidad de cadenas correcta(0) y modificadas(1) enviadas
'0'    478
'1'     22
Name: w_noise, dtype: int64
Cantidad de cadenas correcta(0) y modificadas(1) recibidas
'0'    479
'1'     21
Name: err, dtype: int64

## Hamming

In [63]:
# Buscando si todas las tramas transferidas y corregidas son exÃ¡ctamente las mismas

cont = 0
for x in range(len(eHam)):
    if eHam.trama_og[x] != rHam.orig[x]:
        cont += 1
        
print("Cantidad de tramas que difieren entre emisor y receptor: ", cont)

Cantidad de tramas que difieren entre emisor y receptor:  0